<div class="tree-container">
  <mat-toolbar color="primary" class="tree-header">
    <span>Navegação</span>
  </mat-toolbar>
  
  <div class="tree-content" *ngIf="!loading && treeData">
    <div class="tree-item root-item" [class.selected]="isSelected(treeData)" (click)="onNodeClick(treeData)">
      <div class="tree-item-content">
        <button 
          mat-icon-button 
          class="expand-button"
          *ngIf="hasChildren(treeData)"
          (click)="onToggleExpand(treeData, $event)">
          <mat-icon class="expand-icon" [class.expanded]="isExpanded(treeData)">
            {{ isExpanded(treeData) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <div class="spacer" *ngIf="!hasChildren(treeData)"></div>
        <mat-icon class="folder-icon">
          {{ isSelected(treeData) ? 'folder_open' : 'computer' }}
        </mat-icon>
        <span class="node-name">{{ treeData.name }}</span>
      </div>
    </div>
    
    <div class="tree-children" 
         *ngIf="hasChildren(treeData) && isExpanded(treeData)"
         [@slideInOut]="isExpanded(treeData) ? 'in' : 'out'">
      <ng-container *ngFor="let child of treeData.children">
        <ng-container *ngTemplateOutlet="treeNodeTemplate; context: { node: child, level: 1 }">
        </ng-container>
      </ng-container>
    </div>
  </div>
  
  <div class="loading-container" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Carregando estrutura...</p>
  </div>
</div>

<ng-template #treeNodeTemplate let-node="node" let-level="level">
  <div class="tree-item" 
       [class.selected]="isSelected(node)"
       [style.padding-left.px]="level * 16">
    <div class="tree-item-content" (click)="onNodeClick(node)">
      <button 
        mat-icon-button 
        class="expand-button"
        *ngIf="hasChildren(node)"
        (click)="onToggleExpand(node, $event)">
        <mat-icon class="expand-icon" [class.expanded]="isExpanded(node)">
          {{ isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <div class="spacer" *ngIf="!hasChildren(node)"></div>
      <mat-icon class="folder-icon">
        {{ isDirectory(node) ? (isSelected(node) ? 'folder_open' : 'folder') : 'description' }}
      </mat-icon>
      <span class="node-name">{{ node.name }}</span>
    </div>
  </div>
  
  <div class="tree-children" 
       *ngIf="hasChildren(node) && isExpanded(node)"
       [@slideInOut]="isExpanded(node) ? 'in' : 'out'">
    <ng-container *ngFor="let child of node.children">
      <ng-container 
        *ngTemplateOutlet="treeNodeTemplate; context: { node: child, level: level + 1 }">
      </ng-container>
    </ng-container>
  </div>
</ng-template>